# FinalCapstone_3_ClusteringNeighbourhoods_2

This is a notebook that contains the analysis for the first part of "What is the best neighbourhood to live in as a student at Imperial College London?" (*link:* https://github.com/namiyousef/Coursera_Capstone).

**NOTE:** if you are a peer examiner from the IBM Coursera course (IBM Applied Data Science Capstone), please only mark this notebook, and the relevant parts of the report. At this current time, I will not be able to complete the second part of the project (stated in my report). 

**Notes from previous notebook:**
- previous notebook found that the dataset for the average age is not too useful. Though at first this appeared to be problematic, it was actually beneficial as it informed our decision: was age really an important factor?
- this notebook will now continue analysis

# 0 - Libraries needed, configuration

In [1]:
""" Libraries """

# file management and web scraping
import os
import urllib.request
try: 
    from BeautifulSoup import BeautifulSoup
except ImportError:
    from bs4 import BeautifulSoup

# mathematical

# data exploration
import pandas as pd
import numpy as np

# visualisation
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import matplotlib.cm as cm
import folium
from geopy.geocoders import Nominatim

# preprocessing

# modelling

# evaluation

""" Configuration """

# pandas
pd.set_option('display.max_columns', None)

# Data Cleaning

In [2]:
df_crime = pd.read_csv(('/Users/yousefnami/Desktop/Yousef/PrivateTings/My Stuff/Courses'
        '/IBMDataScienceCertificate/CapstoneProject/Capstone/Coursera_Capstone/Data/df_crime.csv'),index_col = 0)
df_rent = pd.read_csv(('/Users/yousefnami/Desktop/Yousef/PrivateTings/My Stuff/Courses'
        '/IBMDataScienceCertificate/CapstoneProject/Capstone/Coursera_Capstone/Data/df_rent.csv'),index_col = 0)

print(df_crime.shape,df_rent.shape)

/Users/yousefnami/opt/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

(3320519, 7) (174, 8)

In [3]:
df_crime.head()

,Month,Longitude,Latitude,Location,LSOA name,Crime type,files
0,2020-01,-0.539301,50.817200,On or near Highdown Drive,Arun 009F,Other theft,1
1,2020-01,0.137065,51.583672,On or near Police Station,Barking and Dagenham 001A,Anti-social behaviour,1
2,2020-01,0.134947,51.588063,On or near Mead Grove,Barking and Dagenham 001A,Anti-social behaviour,1
3,2020-01,0.137065,51.583672,On or near Police Station,Barking and Dagenham 001A,Anti-social behaviour,1
4,2020-01,0.137065,51.583672,On or near Police Station,Barking and Dagenham 001A,Anti-social behaviour,1

In [4]:
df_rent.head()

,Place,Studio,One Bed,Two Beds,Three Beds,Four Beds,Five Beds,PostDist
0,Bromley,NaN,263.0,287.0,381.0,498.0,NaN,BR1
1,Croyon,197.0,280.0,355.0,NaN,NaN,NaN,CR0
2,Bethnal Green,292.0,370.0,461.0,583.0,622.0,NaN,E2
3,Bow,NaN,313.0,371.0,481.0,612.0,637.0,E3
4,Canary Wharf,405.0,507.0,585.0,719.0,NaN,NaN,E14

In [5]:
# exlore
def strip_index(string):
    if (isinstance(string,str)):
        string = string[:-4]
    return string

df_crime.rename(columns = {'LSOA name':'PostDist'},inplace = True)

df_crime.PostDist = df_crime.PostDist.apply(lambda x: strip_index(x))

df_crime.head()

,Month,Longitude,Latitude,Location,PostDist,Crime type,files
0,2020-01,-0.539301,50.817200,On or near Highdown Drive,Arun,Other theft,1
1,2020-01,0.137065,51.583672,On or near Police Station,Barking and Dagenham,Anti-social behaviour,1
2,2020-01,0.134947,51.588063,On or near Mead Grove,Barking and Dagenham,Anti-social behaviour,1
3,2020-01,0.137065,51.583672,On or near Police Station,Barking and Dagenham,Anti-social behaviour,1
4,2020-01,0.137065,51.583672,On or near Police Station,Barking and Dagenham,Anti-social behaviour,1

In [ ]:
from time import sleep

df_crime.reset_index(inplace = True)
df_crime.dropna(axis = 0, inplace = True)
df_crime.set_index('PostDist',inplace = True)

geolocator = Nominatim(user_agent="foursquare_agent")

for index,Place in enumerate(df_crime.index.unique()):
    location = geolocator.geocode('{} United Kingdom'.format(Place))
    #sleep(1)
    address = location.address.split(', ')
    print(index)
    if 'London' in location.address and address[-2] != 'England':
        if address[-2].split(' ')[0] not in df_rent.PostDist.unique():
            df_crime = df_crime[[Place not in value for value in df_crime.index.values]]
        else:
            pass#print(location)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142

In [10]:
print(df_crime.shape)
df_crime.head()

(2428645, 7)

,index,Month,Longitude,Latitude,Location,Crime type,files
PostDist,,,,,,,
Arun,0,2020-01,-0.539301,50.817200,On or near Highdown Drive,Other theft,1
Barking and Dagenham,1,2020-01,0.137065,51.583672,On or near Police Station,Anti-social behaviour,1
Barking and Dagenham,2,2020-01,0.134947,51.588063,On or near Mead Grove,Anti-social behaviour,1
Barking and Dagenham,3,2020-01,0.137065,51.583672,On or near Police Station,Anti-social behaviour,1
Barking and Dagenham,4,2020-01,0.137065,51.583672,On or near Police Station,Anti-social behaviour,1

# Conclusion


**Note:** if you'd like to reproduce this project, please ensure that you select the correct police force. Selecting both Metropolitan and Greater London area does not yield nice results

There is a problem in that the crime data is not actually, once again, as useful as we might have expected.
However, we keep running into the same issue of the 'Timeout' error, so perhaps switching our method to Foursquare or google API's might be more beneficial.